#PresentationContainer button{
    position: absolute;
    top: 100px; 
    right: 150px;
    transform: translate(50%, -50%);
}

#DescriptionBox button{
    position: absolute;
    min-width: 10%;
    top: 210px; 
    right: 150px;
    transform: translate(50%, -50%);
}

#PersonalDescriptionBox:nth-child(1){ 
    padding: 20px;
}

#ContactDescriptionBox p{
   margin: 20px;
}

#socialMediasList{
    display: flex;
    flex-direction: row;
}

#PersonalImage > input{
    display: none;
}

.textFieldEdit{
    margin: 10px 0;
}

.textFieldEdit >div:focus{
    border: 1px solid white;
}

.textFieldEdit > div{
    background-color: white
}

.textFieldEdit:focus > div{
    background-color: white
}

#socialMediasList{
    display: flex;
    flex-direction: column;
}

#socialMediasListItem{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}